html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container{
    display: flex;
    align-items: stretch;
    width: 100vw;
    height: 100dvh;
    background: linear-gradient(121deg, rgba(238, 174, 202, 1) 0%, rgba(108, 141, 240, 1) 100%);
}




/* Chat log area */

